<head>
    <!-- Required Meta Tags -->
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Plugins CSS -->
   <link rel="stylesheet" href="assets/css/plugins.css">
   <!-- Icon Plugins CSS -->
   <link rel="stylesheet" href="assets/css/iconplugins.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="assets/css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="assets/css/responsive.css">
   <!-- Theme Dark CSS -->
   <link rel="stylesheet" href="assets/css/theme-dark.css">

   <!-- Title -->
   <link rel="import" href="title.html">

   <!-- Favicon -->
   <link rel="icon" type="image/png" href="assets/images/favicon.png">
</head>