<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css" />
    <!-- Icon Plugins CSS -->
    <link rel="stylesheet" href="assets/css/iconplugins.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <!-- Theme Dark CSS -->
    <link rel="stylesheet" href="assets/css/theme-dark.css" />

    <!-- Title -->
    <title>Beate` Total - Eyelashes and Beauty Salon</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
  </head>
  <body>
    <!-- Pre Loader -->
    <div id="preloader">
      <div id="preloader-area">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
      </div>
      <div class="preloader-section preloader-left"></div>
      <div class="preloader-section preloader-right"></div>
    </div>
    <!-- End Pre Loader -->

    <!-- Top Header -->
    <header class="top-header">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-9">
            <div class="header-left">
                <ul>
                    <li>
                      <i class="flaticon-email"></i>
                      <a href="mailto:sample@email.com">メール：sample@email.com</a>
                    </li>
                    <li>
                      <i class="flaticon-telephone"></i>
                      <a href="tel:+81-4684-2838">電話番号：+81-4684-2838</a>
                    </li>
                    <li>
                      <i class="flaticon-clock"></i>
                      毎日午前7時から午後7時日曜日オフ
                    </li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-4 col-md-3">
            <div class="header-right">
              <ul class="social-links">
                <li>
                  <a href="https://www.facebook.com/" target="_blank">
                    <i class="flaticon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="flaticon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="flaticon-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="https://vimeo.com/" target="_blank">
                    <i class="flaticon-vimeo"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Top Header End -->

    <!-- Start Navbar Area -->
    <!-- Menu For Desktop Device -->
    <div class="desktop-nav nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="/">
                    <p><b>Beate` Total</b></p>
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="/" class="active">
                                ホーム
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/services" class="nav-link">
                                サービス
                           </a>
                       </li>

                        <li class="nav-item">
                            <a href="/contact" class="nav-link">
                                連絡先
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Inner Banner -->
    <div class="inner-banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-7">
            <div class="inner-title">
              <h3>連絡先</h3>
              <ul>
                <li>
                  <a href="/">ホーム</a>
                </li>
                <li>連絡先</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-5 col-md-5">
            <div class="inner-img">
              <img
                src="assets/images/inner-banner/inner-banner2.png"
                alt="Inner Banner"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner Banner End -->

    <!-- Contact Information Area -->
    <div class="contact-information-area pt-100 pb-70">
      <div class="container">
        <div class="contact-information-max">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-6">
              <div class="contact-info-card">
                <i class="flaticon-email"></i>
                <h3>メール送る</h3>
                <p><a href="mailto:info@naon.com">info@naon.com</a></p>
                <p><a href="mailto:hello@naon.com">hello@naon.com</a></p>
              </div>
            </div>

            <div class="col-lg-4 col-6">
              <div class="contact-info-card">
                <i class="flaticon-telephone"></i>
                <h3>コールセンター</h3>
                <p><a href="tel:(+01)1233215789">(+01) 123 321 5789</a></p>
                <p><a href="tel:(+01)1234226779">(+01) 123 422 6779</a></p>
              </div>
            </div>

            <div class="col-lg-4 col-6">
              <div class="contact-info-card">
                <i class="flaticon-pin"></i>
                <h3>アクセス</h3>
                <p>6688 Princess Road, London,</p>
                <p>Greater London BAS 23JK, UK</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Information Area -->

    <!-- Contact Widget Area -->
    <div class="contact-widget-area pb-70">
      <div class="container">
        <div class="contact-widget-max">
          <div class="contact-form">
            <div class="section-title text-center">
              <h2>質問がありますか？</h2>
            </div>
            <form id="contactForm">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      id="name"
                      class="form-control"
                      required
                      data-error="Please Enter Your Name"
                      placeholder="名前"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                      required
                      data-error="Please Enter Your Email"
                      placeholder="メール"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="phone_number"
                      id="phone_number"
                      required
                      data-error="Please Enter Your number"
                      class="form-control"
                      placeholder="電話番号"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="msg_subject"
                      id="msg_subject"
                      class="form-control"
                      required
                      data-error="Please Enter Your Subject"
                      placeholder="件名"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea
                      name="message"
                      class="form-control"
                      id="message"
                      cols="30"
                      rows="7"
                      required
                      data-error="Write your message"
                      placeholder="メッセージ"
                    ></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="agree-label">
                    <input type="checkbox" id="chb1" />
                    <label for="chb1">
                      Accept
                      <a href="terms-condition.html">Terms & Conditions</a> And
                      <a href="privacy-policy.html">Privacy Policy.</a>
                    </label>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12">
                  <button type="submit" class="default-btn">
                    Send Message
                  </button>
                  <div id="msgSubmit" class="h3 hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Widget Area End -->

       <!-- Footer Area -->
       <footer class="footer-area footer-bg">
        <div class="container pt-100 pb-70">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="footer-widget ps-4">
                <h3>Salon Hours</h3>
                <ul class="salon-hours">
                  <li>
                    <div class="content">
                      <h3>Monday - Friday</h3>
                      <span>09:00 AM - 10:00 PM </span>
                    </div>
                  </li>
                  <li>
                    <div class="content">
                      <h3>Saturday - Sunday</h3>
                      <span>10:00 AM - 08:00 PM </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
  
            <div class="col-lg-6 col-sm-6">
              <div class="footer-widget ps-3">
                <h3>Get In Touch</h3>
                <ul class="footer-contact">
                  <li>
                    <i class="flaticon-telephone"></i>
                    <div class="content">
                      <h4>Contact Us</h4>
                      <span
                        ><a href="tel:+123456778" target="_blank"
                          >+123 456 778</a
                        ></span
                      >
                    </div>
                  </li>
                  <li>
                    <i class="flaticon-email"></i>
                    <div class="content">
                      <h4>Email:</h4>
                      <span
                        ><a href="mailto:hello@naon.com" target="_blank"
                          >hello@naon.com</a
                        ></span
                      >
                    </div>
                  </li>
                  <li>
                    <i class="flaticon-pin"></i>
                    <div class="content">
                      <h4>Address</h4>
                      <span>151, Demo Store United States</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Area End -->
  
      <!-- Copyright Area -->
      <div class="copyright-area">
        <div class="container">
          <div class="copy-right-text text-center">
            <p>
              Copyright @
              <script>
                document.write(new Date().getFullYear());
              </script>
              <b>Beate` Total</b> All Rights Reserved
            </p>
          </div>
        </div>
      </div>
      <!-- Copyright Area End -->

    <!-- Jquery Min JS -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>
    <!-- Custom  JS -->
    <script src="assets/js/custom.js"></script>
  </body>
</html>
