<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css" />
    <!-- Icon Plugins CSS -->
    <link rel="stylesheet" href="assets/css/iconplugins.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <!-- Theme Dark CSS -->
    <link rel="stylesheet" href="assets/css/theme-dark.css" />

    <!-- Title -->
    <title>Beate` Total - Eyelashes and Beauty Salon</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
  </head>
  <body>
    <!-- Pre Loader -->
    <div id="preloader">
      <div id="preloader-area">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
      </div>
      <div class="preloader-section preloader-left"></div>
      <div class="preloader-section preloader-right"></div>
    </div>
    <!-- End Pre Loader -->

    <!-- Top Header -->
    <header class="top-header">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-9">
            <div class="header-left">
              <ul>
                <li>
                  <i class="flaticon-email"></i>
                  <a href="mailto:sample@email.com">sample@email.com</a>
                </li>
                <li>
                  <i class="flaticon-telephone"></i>
                  <a href="tel:+81-4684-2838">+81-4684-2838</a>
                </li>
                <li>
                  <i class="flaticon-clock"></i>
                  Everyday 7 AM to 7 PM Sunday Off
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-3">
            <div class="header-right">
              <ul class="social-links">
                <li>
                  <a href="https://www.facebook.com/" target="_blank">
                    <i class="flaticon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="flaticon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="flaticon-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="https://vimeo.com/" target="_blank">
                    <i class="flaticon-vimeo"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Top Header End -->

    <!-- Start Navbar Area -->
    <div class="navbar-area naon-area">
      <div class="mobile-responsive-nav">
        <div class="container">
          <div class="mobile-responsive-menu">
            <div class="logo">
              <a href="/">
                <p><b>Beate Total</b></p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Menu For Desktop Device -->
      <div class="desktop-nav nav-area">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/">
              <p><b>Beate` Total</b></p>
            </a>

            <div
              class="collapse navbar-collapse mean-menu"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a href="/" class="active"> Home </a>
                </li>

                <li class="nav-item">
                  <a href="/services" class="nav-link"> Services </a>
                </li>

                <li class="nav-item">
                  <a href="/contact" class="nav-link"> Contact Us </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Modal Start -->
    <div
      class="modal fade fade-scale searchmodal"
      id="searchmodal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal">
              <i class="ri-close-line"></i>
            </button>
          </div>
          <div class="modal-body">
            <form class="modal-search-form">
              <input
                type="search"
                class="search-field"
                placeholder="Search..."
              />
              <button type="submit"><i class="ri-search-line"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End -->

    <!-- Banner Area -->
    <div class="banner-area">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="banner-slider owl-carousel owl-theme">
              <div class="banner-content">
                <span>Eye Lashes and Beauty Salon</span>
                <h1>Experience In Eye Lashes Care</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipiscing elit Ut elit
                  tellus luctus nec ullamcorper mattis pulvinar dapibus leo
                  consectetur
                </p>
              </div>

              <div class="banner-content">
                <span>Eye Lashes and Beauty Salon</span>
                <h1>Experience In Eye Lashes Care</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipiscing elit Ut elit
                  tellus luctus nec ullamcorper mattis pulvinar dapibus leo
                  consectetur
                </p>
              </div>

              <div class="banner-content">
                <span>Eye Lashes and Beauty Salon</span>
                <h1>Experience In Eye Lashes Care</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipiscing elit Ut elit
                  tellus luctus nec ullamcorper mattis pulvinar dapibus leo
                  consectetur
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="banner-img" data-speed="0.05" data-revert="true">
              <div class="woman">
                <img
                  src="assets/images/home-one/woman.png"
                  data-aos="fade-up"
                  data-aos-delay="900"
                  data-aos-duration="1000"
                  data-aos-once="true"
                  alt="Banner"
                />
                <div
                  class="vector"
                  data-aos="fade-down"
                  data-aos-delay="900"
                  data-aos-duration="1000"
                  data-aos-once="true"
                >
                  <img
                    src="assets/images/home-one/home-vector.png"
                    alt="vector"
                  />
                </div>
              </div>
              <div
                class="nail-img"
                data-aos="fade-up"
                data-aos-delay="900"
                data-aos-duration="1000"
                data-aos-once="true"
              >
                <img src="assets/images/home-one/nail-img.jpg" alt="Nail" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Area End -->

    <!-- Features Area -->
    <div class="features-area pt-100 pb-70">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="features-card">
              <div class="img">
                <img
                  src="assets/images/features/features-img1.jpg"
                  alt="features"
                />
              </div>
              <div class="content">
                <div class="top-icon">
                  <i class="flaticon-make-up"></i>
                </div>
                <h3>LED Cured Gel Polish</h3>
                <div class="more-btn">
                  <i class="flaticon-arrow-pointing-to-right"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="features-card">
              <div class="img">
                <img
                  src="assets/images/features/features-img2.jpg"
                  alt="features"
                />
              </div>
              <div class="content">
                <div class="top-icon">
                  <i class="flaticon-relax"></i>
                </div>
                <h3>No Damaging Acrylics</h3>
                <div class="more-btn">
                  <i class="flaticon-arrow-pointing-to-right"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="features-card">
              <div class="img">
                <img
                  src="assets/images/features/features-img3.jpg"
                  alt="features"
                />
              </div>
              <div class="content">
                <div class="top-icon">
                  <i class="flaticon-makeup"></i>
                </div>
                <h3>Nail Experts Burlington</h3>
                <div class="more-btn">
                  <i class="flaticon-arrow-pointing-to-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features Area End -->

    <!-- Services Area -->
    <div class="services-area ptb-100">
      <div class="container">
        <div class="section-title mb-45 text-center">
          <span>Our Services</span>
          <h2>What We Offer</h2>
          <div class="section-vector">
            <img src="assets/images/shape/section-vector.png" alt="vector" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-6">
            <div class="services-card">
              <a href="service-details.html">
                <img
                  src="assets/images/services/services-img1.jpg"
                  alt="Services"
                />
              </a>
              <div class="content">
                <h3><a href="service-details.html">Glitter For Nail Art</a></h3>
                <a href="service-details.html" class="more-btn">
                  <i class="flaticon-arrow-pointing-to-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-6">
            <div class="services-card">
              <a href="service-details.html">
                <img
                  src="assets/images/services/services-img2.jpg"
                  alt="Services"
                />
              </a>
              <div class="content">
                <h3>
                  <a href="service-details.html">Classic Nail Pedicure</a>
                </h3>
                <a href="service-details.html" class="more-btn">
                  <i class="flaticon-arrow-pointing-to-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-6">
            <div class="services-card">
              <a href="service-details.html">
                <img
                  src="assets/images/services/services-img3.jpg"
                  alt="Services"
                />
              </a>
              <div class="content">
                <h3>
                  <a href="service-details.html">Paraffin For Nail Hands</a>
                </h3>
                <a href="service-details.html" class="more-btn">
                  <i class="flaticon-arrow-pointing-to-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-6">
            <div class="services-card">
              <a href="service-details.html">
                <img
                  src="assets/images/services/services-img4.jpg"
                  alt="Services"
                />
              </a>
              <div class="content">
                <h3><a href="service-details.html">Deep Paraffin Waxing</a></h3>
                <a href="service-details.html" class="more-btn">
                  <i class="flaticon-arrow-pointing-to-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-6">
            <div class="services-card">
              <a href="service-details.html">
                <img
                  src="assets/images/services/services-img5.jpg"
                  alt="Services"
                />
              </a>
              <div class="content">
                <h3>
                  <a href="service-details.html">Classic Nail Manicure</a>
                </h3>
                <a href="service-details.html" class="more-btn">
                  <i class="flaticon-arrow-pointing-to-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-6">
            <div class="services-card">
              <a href="service-details.html">
                <img
                  src="assets/images/services/services-img6.jpg"
                  alt="Services"
                />
              </a>
              <div class="content">
                <h3><a href="service-details.html">Art Nail & Effects</a></h3>
                <a href="service-details.html" class="more-btn">
                  <i class="flaticon-arrow-pointing-to-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-12 text-center mt-20">
            <a href="/services" class="default-btn two border-radius-5"
              >See All Service <i class="flaticon-arrow-pointing-to-right"></i
            ></a>
          </div>
        </div>
        <div class="services-vector">
          <img src="assets/images/services/services-vector.png" alt="vector" />
        </div>
      </div>
    </div>
    <!-- Services Area End -->

    <!-- Pricing Area -->
    <div class="pricing-area section-bg pt-100 pb-70">
      <div class="container">
        <div class="section-title mb-45 text-center">
          <span>Best Deals</span>
          <h2>Our Best Price Packages</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="pricing-card">
              <ul>
                <li>
                  <img
                    src="assets/images/pricing/pricing-img1.jpg"
                    alt="Pricing"
                  />
                  <div class="content">
                    <h3>Gel Coloring <span>$15.00</span></h3>
                    <p>
                      Donec pretium egestas sapien mollis. Pellen tesqueet dolor
                      elem entum etos
                    </p>
                  </div>
                </li>
                <li>
                  <img
                    src="assets/images/pricing/pricing-img2.jpg"
                    alt="Pricing"
                  />
                  <div class="content">
                    <h3>Pedicure <span>$25.00</span></h3>
                    <p>
                      Donec pretium egestas sapien mollis. Pellen tesqueet dolor
                      elem entum etos
                    </p>
                  </div>
                </li>
                <li>
                  <img
                    src="assets/images/pricing/pricing-img3.jpg"
                    alt="Pricing"
                  />
                  <div class="content">
                    <h3>Manicure <span>$15.00</span></h3>
                    <p>
                      Donec pretium egestas sapien mollis. Pellen tesqueet dolor
                      elem entum etos
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="pricing-card">
              <ul>
                <li>
                  <img
                    src="assets/images/pricing/pricing-img4.jpg"
                    alt="Pricing"
                  />
                  <div class="content">
                    <h3>Nail Polishing <span>$50.00</span></h3>
                    <p>
                      Donec pretium egestas sapien mollis. Pellen tesqueet dolor
                      elem entum etos
                    </p>
                  </div>
                </li>
                <li>
                  <img
                    src="assets/images/pricing/pricing-img5.jpg"
                    alt="Pricing"
                  />
                  <div class="content">
                    <h3>Nail Trim <span>$30.00</span></h3>
                    <p>
                      Donec pretium egestas sapien mollis. Pellen tesqueet dolor
                      elem entum etos
                    </p>
                  </div>
                </li>
                <li>
                  <img
                    src="assets/images/pricing/pricing-img6.jpg"
                    alt="Pricing"
                  />
                  <div class="content">
                    <h3>Sticker Deco <span>$25.00</span></h3>
                    <p>
                      Donec pretium egestas sapien mollis. Pellen tesqueet dolor
                      elem entum etos
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pricing Area End -->

    <!-- Testimonial Area -->
    <div class="testimonial-area section-bg pt-100 pb-70">
      <div class="container">
        <div class="section-title mb-45 text-center">
          <span>Our Testimonial</span>
          <h2>What Our Clients Feedback</h2>
        </div>
        <div class="testimonial-slider owl-carousel owl-theme">
          <div class="testimonial-item">
            <img
              src="assets/images/testimonial/testimonial-img1.jpg"
              alt="Testimonial"
            />
            <h3>Emanuele Ebrew</h3>
            <p>
              Pellentesque habitant morbi tristique senectus netus et malesuada
              fames ac turpis egestas vestibulum tortor quam feugiat vit
              tristique senectus
            </p>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </div>
          </div>

          <div class="testimonial-item">
            <img
              src="assets/images/testimonial/testimonial-img2.jpg"
              alt="Testimonial"
            />
            <h3>Giovanni Loren</h3>
            <p>
              Pellentesque habitant morbi tristique senectus netus et malesuada
              fames ac turpis egestas vestibulum tortor quam feugiat vit
              tristique senectus
            </p>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </div>
          </div>

          <div class="testimonial-item">
            <img
              src="assets/images/testimonial/testimonial-img3.jpg"
              alt="Testimonial"
            />
            <h3>Massimo Pasquale</h3>
            <p>
              Pellentesque habitant morbi tristique senectus netus et malesuada
              fames ac turpis egestas vestibulum tortor quam feugiat vit
              tristique senectus
            </p>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </div>
          </div>

          <div class="testimonial-item">
            <img
              src="assets/images/testimonial/testimonial-img4.jpg"
              alt="Testimonial"
            />
            <h3>Gabriele Edoardo</h3>
            <p>
              Pellentesque habitant morbi tristique senectus netus et malesuada
              fames ac turpis egestas vestibulum tortor quam feugiat vit
              tristique senectus
            </p>
            <div class="rating">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-line"></i>
              <i class="ri-star-line"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial Area End -->

    <!-- Footer Area -->
    <footer class="footer-area footer-bg">
      <div class="container pt-100 pb-70">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="footer-widget ps-4">
              <h3>Salon Hours</h3>
              <ul class="salon-hours">
                <li>
                  <div class="content">
                    <h3>Monday - Friday</h3>
                    <span>09:00 AM - 10:00 PM </span>
                  </div>
                </li>
                <li>
                  <div class="content">
                    <h3>Saturday - Sunday</h3>
                    <span>10:00 AM - 08:00 PM </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6">
            <div class="footer-widget ps-3">
              <h3>Get In Touch</h3>
              <ul class="footer-contact">
                <li>
                  <i class="flaticon-telephone"></i>
                  <div class="content">
                    <h4>Contact Us</h4>
                    <span
                      ><a href="tel:+123456778" target="_blank"
                        >+123 456 778</a
                      ></span
                    >
                  </div>
                </li>
                <li>
                  <i class="flaticon-email"></i>
                  <div class="content">
                    <h4>Email:</h4>
                    <span
                      ><a href="mailto:hello@naon.com" target="_blank"
                        >hello@naon.com</a
                      ></span
                    >
                  </div>
                </li>
                <li>
                  <i class="flaticon-pin"></i>
                  <div class="content">
                    <h4>Address</h4>
                    <span>151, Demo Store United States</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Area End -->

    <!-- Copyright Area -->
    <div class="copyright-area">
      <div class="container">
        <div class="copy-right-text text-center">
          <p>
            Copyright @
            <script>
              document.write(new Date().getFullYear());
            </script>
            <b>Beate` Total</b> All Rights Reserved
          </p>
        </div>
      </div>
    </div>
    <!-- Copyright Area End -->

    <!-- QuickView Modal Area -->
    <div
      class="modal fade productsQuickView"
      id="productsQuickView"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <button
            type="button"
            class="btn-close-on"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"><i class="flaticon-close"></i></span>
          </button>
          <div class="product-details-desc">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12">
                <div class="products-quickView-image">
                  <img
                    src="assets/images/products/product-details.png"
                    alt="Product Details"
                  />
                </div>
              </div>

              <div class="col-lg-6 col-md-12">
                <div class="product-desc mb-30 pl-20">
                  <h3>Nail Polish Removers</h3>
                  <div class="price">
                    <span class="old-price">$140.00 </span>
                    <span class="new-price">- $110.00</span>
                  </div>
                  <div class="product-review">
                    <div class="rating">
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-fill"></i>
                      <i class="ri-star-line"></i>
                      <i class="ri-star-line"></i>
                    </div>
                    <div class="rating-count">255 Reviews</div>
                  </div>
                  <p>
                    Voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi.
                  </p>
                  <ul class="product-category-list">
                    <li>Availablity: <span>In Stock</span></li>
                    <li>Tags: <span>Nail, Lover</span></li>
                  </ul>
                  <div class="input-counter-area">
                    <h4>Quantity</h4>
                    <div class="input-counter">
                      <span class="minus-btn"><i class="ri-add-fill"></i></span>
                      <input type="text" value="1" />
                      <span class="plus-btn"
                        ><i class="ri-subtract-line"></i
                      ></span>
                    </div>
                  </div>

                  <div class="product-add-btn">
                    <button type="submit" class="default-btn border-radius-5">
                      Add To Cart
                      <i class="flaticon-shopping-cart-empty-side-view"></i>
                    </button>
                    <ul class="products-action">
                      <li>
                        <a href="compare.html">
                          <i class="ri-arrow-left-right-line"></i
                        ></a>
                      </li>
                      <li>
                        <a href="wishlist.html"
                          ><i class="ri-heart-line"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="product-share">
                    <ul>
                      <li>
                        <span>Share:</span>
                      </li>
                      <li>
                        <a href="https://twitter.com/" target="_blank">
                          <i class="ri-twitter-fill"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/" target="_blank">
                          <i class="ri-linkedin-fill"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.facebook.com/" target="_blank">
                          <i class="ri-facebook-fill"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://vimeo.com/" target="_blank">
                          <i class="ri-vimeo-fill"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- QuickView Modal Area End -->

    <!-- Jquery Min JS -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>
    <!-- Custom  JS -->
    <script src="assets/js/custom.js"></script>
  </body>
</html>
