<!doctype html>
<html lang="zxx">
    <head>
         <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

         <!-- Plugins CSS -->
        <link rel="stylesheet" href="assets/css/plugins.css">
        <!-- Icon Plugins CSS -->
        <link rel="stylesheet" href="assets/css/iconplugins.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet" href="assets/css/theme-dark.css">

        <!-- Title -->
        <title>Naon - Nail & Beauty Salon HTML Template</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/favicon.png">
    </head>
    <body>
        <!-- Pre Loader -->
        <div id="preloader">
            <div id="preloader-area">
                <div class="spinner"></div>
                <div class="spinner"></div>
                <div class="spinner"></div>
            </div>
            <div class="preloader-section preloader-left"></div>
            <div class="preloader-section preloader-right"></div>
        </div>
        <!-- End Pre Loader -->

        <!-- Top Header -->
        <header class="top-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-9">
                        <div class="header-left">
                            <ul>
                                <li>
                                    <i class="flaticon-email"></i>
                                    <a href="mailto:info@naon.com">info@naon.com</a>
                                </li>
                                <li>
                                    <i class="flaticon-telephone"></i>
                                    <a href="tel:+123-456-778">+123 456 778</a>
                                </li>
                                <li>
                                    <i class="flaticon-clock"></i>
                                    Everyday 7 AM to 7 PM Sunday Off
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-3">
                        <div class="header-right">
                            <ul class="social-links">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/" target="_blank">
                                        <i class="flaticon-vimeo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Top Header End -->

        <!-- Start Navbar Area -->
        <div class="navbar-area naon-area">
            <div class="mobile-responsive-nav">
                <div class="container">
                    <div class="mobile-responsive-menu">
                         <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logos/logo-small.png" class="logo-one" alt="logo">
                                <img src="assets/images/logos/logo-white-small.png" class="logo-two" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="desktop-nav nav-area">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light ">
                         <a class="navbar-brand" href="index.html">
                            <img src="assets/images/logos/logo.png" class="logo-one" alt="Logo">
                            <img src="assets/images/logos/logo-white.png" class="logo-two" alt="Logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        Home 
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">
                                                Home Demo - 1  
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">
                                                Home Demo - 2
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link">
                                                Home Demo - 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">
                                        About Us
                                    </a>
                                </li>

                                <li class="nav-item">
                                   <a href="#" class="nav-link dropdown-toggle">
                                        Pages 
                                    </a>
                                    
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">
                                                Testimonials
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">
                                                FAQ
                                            </a>
                                        </li>
    
                                        <li class="nav-item">
                                            <a href="appointment.html" class="nav-link">
                                                Appointment
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Team
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="team.html" class="nav-link">
                                                        Team
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="team-details.html" class="nav-link">
                                                        Team Details
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Pricing Plan
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="pricing-1.html" class="nav-link">
                                                        Pricing Plan Style One
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="pricing-2.html" class="nav-link">
                                                        Pricing Plan Style Two
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Gallery
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="gallery-1.html" class="nav-link">
                                                        Gallery Style One
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="gallery-2.html" class="nav-link">
                                                        Gallery Style Two
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                User
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="login.html" class="nav-link">
                                                        Login 
                                                    </a>
                                                </li>
                                               <li class="nav-item">
                                                    <a href="register.html" class="nav-link">
                                                        Register
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="forgot-password.html" class="nav-link">
                                                        Forgot Password
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="terms-condition.html" class="nav-link">
                                                Terms & Conditions
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">
                                                Privacy Policy
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">
                                                404 Page
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">
                                                Coming Soon
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle active">
                                        Services
                                   </a>
                                   <ul class="dropdown-menu">
                                       <li class="nav-item">
                                           <a href="services.html" class="nav-link active">
                                                Services Style One 
                                           </a>
                                       </li>
                                       <li class="nav-item">
                                            <a href="services-2.html" class="nav-link">
                                                Services Style Two
                                            </a>
                                        </li>
                                       <li class="nav-item">
                                           <a href="service-details.html" class="nav-link">
                                                Service Details 
                                           </a>
                                       </li>
                                   </ul>
                               </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                        Shop
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="shop.html" class="nav-link">Shop</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="cart.html" class="nav-link">Cart</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="checkout.html" class="nav-link">Checkout</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="wishlist.html" class="nav-link">Wishlist</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="shop-details.html" class="nav-link">Shop Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="tracking-order.html" class="nav-link">Tracking Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="compare.html" class="nav-link">Compare</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="customer-services.html" class="nav-link">Customer Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="my-account.html" class="nav-link">My Account</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                      <a href="#" class="nav-link dropdown-toggle">
                                        Blog                                   </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog.html" class="nav-link">
                                                Blog Grid
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-2.html" class="nav-link">
                                                Blog Left Sidebar 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-3.html" class="nav-link">
                                                Blog Right Sidebar 
                                            </a>
                                        </li>
                                       
                                        <li class="nav-item">
                                            <a href="author.html" class="nav-link">
                                                Author
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="categories.html" class="nav-link">
                                                Categories
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="tags.html" class="nav-link">
                                                Tags
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Single Blog
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="single-blog-1.html" class="nav-link">
                                                        Default
                                                    </a>
                                                </li>
                                               <li class="nav-item">
                                                    <a href="single-blog-2.html" class="nav-link">
                                                        With Video
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="single-blog-3.html" class="nav-link">
                                                        With Images Slider
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>

                            <div class="others-options d-flex align-items-center">
                                <div class="optional-item">
                                    <div class="search-btn">
                                        <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                                            <i class='flaticon-search'></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="optional-item">
                                    <a class="optional-item-cart" href="cart.html">
                                        <i class='flaticon-shopping-cart-empty-side-view'></i>
                                        <span>2</span>
                                    </a>
                                </div>
                            </div> 

                            <div class="mobile-nav">
                                <div class="mobile-other d-flex align-items-center">
                                    <div class="optional-item">
                                        <div class="search-btn">
                                            <a class="#" href="#searchmodal" data-bs-toggle="modal" data-bs-target="#searchmodal">
                                                <i class='flaticon-search'></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="optional-item">
                                        <a class="optional-item-cart" href="cart.html">
                                            <i class='flaticon-shopping-cart-empty-side-view'></i>
                                            <span>2</span>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Modal Start -->
        <div class="modal fade fade-scale searchmodal" id="searchmodal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="modal-search-form">
                            <input type="search" class="search-field" placeholder="Search...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->

        <!-- Inner Banner -->
        <div class="inner-banner">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7">
                        <div class="inner-title">
                            <h3>Services Style One </h3>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>Services Style One </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5">
                        <div class="inner-img">
                            <img src="assets/images/inner-banner/inner-banner9.png" alt="Inner Banner" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- Services Area -->
        <div class="services-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-6">
                        <div class="services-card">
                            <a href="service-details.html">
                                <img src="assets/images/services/services-img1.jpg" alt="Services" />
                            </a>
                            <div class="content">
                                <h3><a href="service-details.html">Glitter For Nail Art</a></h3>
                                <a href="service-details.html" class="more-btn">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="services-card">
                            <a href="service-details.html">
                                <img src="assets/images/services/services-img2.jpg" alt="Services" />
                            </a>
                            <div class="content">
                                <h3><a href="service-details.html">Classic Nail Pedicure</a></h3>
                                <a href="service-details.html" class="more-btn">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="services-card">
                            <a href="service-details.html">
                                <img src="assets/images/services/services-img3.jpg" alt="Services" />
                            </a>
                            <div class="content">
                                <h3><a href="service-details.html">Paraffin For Nail Hands</a></h3>
                                <a href="service-details.html" class="more-btn">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="services-card">
                            <a href="service-details.html">
                                <img src="assets/images/services/services-img4.jpg" alt="Services" />
                            </a>
                            <div class="content">
                                <h3><a href="service-details.html">Deep Paraffin Waxing</a></h3>
                                <a href="service-details.html" class="more-btn">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="services-card">
                            <a href="service-details.html">
                                <img src="assets/images/services/services-img5.jpg" alt="Services" />
                            </a>
                            <div class="content">
                                <h3><a href="service-details.html">Classic Nail Manicure</a></h3>
                                <a href="service-details.html" class="more-btn">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-6">
                        <div class="services-card">
                            <a href="service-details.html">
                                <img src="assets/images/services/services-img6.jpg" alt="Services" />
                            </a>
                            <div class="content">
                                <h3><a href="service-details.html">Art Nail & Effects</a></h3>
                                <a href="service-details.html" class="more-btn">
                                    <i class="flaticon-arrow-pointing-to-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 text-center">
                        <div class="pagination-area">
                            <a href="blog-1.html" class="prev page-numbers">
                                <i class="flaticon-arrow-pointing-to-left"></i>
                            </a>

                            <span class="page-numbers current" aria-current="page">1</span>
                            <a href="blog-1.html" class="page-numbers">2</a>
                            <a href="blog-1.html" class="page-numbers">3</a>
                            
                            <a href="blog-1.html" class="next page-numbers">
                                <i class="flaticon-arrow-pointing-to-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Area End -->

        <!-- Footer Area -->
        <footer class="footer-area footer-bg">
            <div class="container pt-100 pb-70">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="footer-widget pe-5">
                             <div class="footer-logo">
                                <a href="index.html">
                                    <img src="assets/images/logos/logo.png" class="footer-logo1" alt="Images">
                                </a>
                                <a href="index.html">
                                    <img src="assets/images/logos/logo-white.png" class="footer-logo2" alt="Images">
                                </a>
                            </div>
                            <p>
                                Pellentesque habitant morbi tristique senectus  netus  malesuada fames ac turpis egestas vesti ulum tortor quam bulum tortor feugiat 
                            </p>
                            <ul class="social-link">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vimeo.com/" target="_blank">
                                        <i class="ri-vimeo-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-widget pe-2">
                            <h3>Our Newsletter</h3>
                            <form class="newsletter-form" data-toggle="validator" method="POST">
                                <input type="email" class="form-control" placeholder="Enter Your Email Address" name="EMAIL" required autocomplete="off">
                                <button class="subscribe-btn" type="submit">
                                    Subscribe Now  <i class="flaticon-paper-plane"></i>
                                </button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget ps-4">
                            <h3>Salon Hours</h3>
                            <ul class="salon-hours">
                                <li>
                                    <div class="content">
                                        <h3>Monday - Friday</h3>
                                        <span>09:00 AM - 10:00 PM </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <h3>Saturday - Sunday</h3>
                                        <span>10:00 AM - 08:00 PM </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-widget ps-3">
                            <h3>Get In Touch</h3>
                            <ul class="footer-contact">
                                <li>
                                    <i class="flaticon-telephone"></i>
                                    <div class="content">
                                        <h4>Contact Us</h4>
                                        <span><a href="tel:+123456778" target="_blank">+123 456 778</a></span>
                                    </div>
                                </li>
                                <li>
                                    <i class="flaticon-email"></i>
                                    <div class="content">
                                        <h4>Email:</h4>
                                        <span><a href="mailto:hello@naon.com" target="_blank">hello@naon.com</a></span>
                                    </div>
                                </li>
                                <li>
                                    <i class="flaticon-pin"></i>
                                    <div class="content">
                                        <h4>Address</h4>
                                        <span>151, Demo Store United States</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->

        <!-- Copyright Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="copy-right-text text-center">
                    <p>
                        Copyright @<script>document.write(new Date().getFullYear())</script> <b>Naon</b> All Rights Reserved 
                        <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a> 
                    </p>
                </div>
            </div>
        </div>
        <!-- Copyright Area End -->

        <!-- Jquery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Plugins JS -->
        <script src="assets/js/plugins.js"></script>
        <!-- Custom  JS -->
        <script src="assets/js/custom.js"></script>
    </body>
</html>